# Ignore the virtual environment folder
.venv/

# Ignore specific folders
dist/
build/
release/
logs/
data/
export/
config/
_test/
debug_out/

# Ignore assets
assets/*
!assets/icon.ico


# Ignore any Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore IDE-specific files (optional)
.vscode/
.idea/

# Ignore other common files
*.log
*.env
.DS_Store